<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <title>Shop</title>
    <style>
        body {
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
        }

        .header {
            background-color: black;
            color: white;
            padding: 20px 0;
            border-bottom: 2px solid #D35F18;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .logo img {
            width: 100px;
            height: auto;
            display: inline-block;
        }

        .company-name {
            display: inline-block;
            font-size: 30px;
            font-family: Arial, sans-serif;
            position: relative;
            top: -35px;
        }

        .additional-elements {
            gap: 15px;
            display: flex;
            margin-right: 10px;
            font-size: 22px;
        }

        .additional-elements p {
            margin-left: 10px;
            color: white;
            cursor: pointer;
        }

        .additional-elements p:hover {
            text-decoration: underline;
        }

        .header a {
            text-decoration: none;
        }

        .title {
            text-align: center;
            font-size: 36px;
            font-weight: bold;
            font-family: Arial, sans-serif;
            padding-bottom: 40px;
        }

        .page-body {
            padding: 50px 0;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
        }

        .footer_section {
            width: 100%;
            background-color: #252525;
            height: auto;
            padding: 95px 0;
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
        }

        .footer_section .container-footer {
            width: 90%;
            max-width: 1201px;
            margin: auto;
        }

        .footer_section .row {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            margin-top: 20px;
        }

        .footer_section .col-lg-3,
        .footer_section .col-sm-6 {
            flex: 0 0 calc(25% - 20px);
            margin-bottom: 20px;
        }

        @media (max-width: 992px) {
            .footer_section .col-lg-3,
            .footer_section .col-sm-6 {
                flex: 0 0 calc(50% - 20px);
            }
        }

        @media (max-width: 576px) {
            .footer_section .col-lg-3,
            .footer_section .col-sm-6 {
                flex: 0 0 calc(100% - 20px);
            }
        }

        .useful_text {
            font-size: 24px;
            color: #ffffff;
            margin-bottom: 15px;
            font-weight: bold;
        }

        .footer_text {
            font-size: 14px;
            color: #ffffff;
            margin: 0px;
        }

        .footer_menu ul {
            list-style: none;
            padding: 0;
        }

        .footer_menu li {
            font-size: 14px;
            color: #ffffff;
        }

        .footer_menu li a {
            color: #ffffff;
            text-decoration: none;
        }

        .footer_menu li a:hover {
            color: #D35F18;
        }

        .footer_section .location_text ul li::marker {
            color: #ffffff;
        }

        .footer_section .location_text ul li a {
            color: #ffffff;
            text-decoration: none;
        }

        .footer_section .location_text ul li a:hover {
            color: #D35F18;
        }

        .copyright_section {
            width: 100%;
            float: left;
            background-color: #ffffff;
            height: auto;
        }

        .copyright_text {
            width: 100%;
            float: left;
            font-size: 16px;
            color: #252525;
            text-align: center;
            margin-left: 0px;
        }

        .copyright_text a {
            color: #252525;
        }

        .shopping-cart {
            display: flex;
            align-items: center;
            margin-right: 20px;
        }

        .cart-icon {
            font-size: 24px;
            color: white;
            cursor: pointer;
            margin-top: 20px;
        }

        .cart-count {
            font-size: 18px;
            color: white;
            margin-left: 25px;
        }

        .products {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            justify-content: center;
        }

        .product {
            background-color: #f9f9f9;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            transition: transform 0.3s ease;
            width: calc(25% - 20px);
        }

        .product:hover {
            transform: translateY(-5px);
        }

        .product-images {
            position: relative;
            margin-bottom: 10px;
        }

        .product-images img {
            width: 100%;
            height: auto;
            object-fit: cover;
            border-radius: 8px;
        }

        .product-images .arrow {
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            background-color: rgba(0, 0, 0, 0.5);
            color: white;
            border: none;
            padding: 10px;
            cursor: pointer;
            border-radius: 50%;
        }

        .product-images .arrow.left {
            left: 10px;
        }

        .product-images .arrow.right {
            right: 10px;
        }

        .product h2 {
            font-size: 20px;
            color: #333;
            margin-bottom: 10px;
            text-align: center;
        }

        .product p {
            font-size: 16px;
            color: #666;
            margin-bottom: 15px;
        }

        .product .price {
            font-size: 18px;
            color: #333;
            font-weight: bold;
            text-align: center;
        }

        .product button {
            background-color: #D35F18;
            color: white;
            border: none;
            padding: 10px 20px;
            cursor: pointer;
            transition: background-color 0.3s ease;
            border-radius: 10px;
            display: block;
            margin: 0 auto;
        }

        .product button:hover {
            background-color: #e76f24;
        }


        .search-bar {
            display: flex;
            align-items: center;
            margin-right: 20px;
            gap: 10px;
            padding-bottom: 20px;
        }

        .search-bar input[type="text"] {
            padding: 10px;
            border-radius: 25px;
            width: 300px;
            font-size: 16px;
        }

        .search-bar button {
            background-color: #D35F18;
            border: none;
            color: white;
            padding: 10px 20px;
            border-radius: 25px;
            cursor: pointer;
            font-size: 16px;
        }

        .search-bar button:hover {
            background-color: #e76f24;
        }

        .sort-bar {
            display: flex;
            align-items: center;
            margin-left: 20px;
        }

        .sort-bar label {
            margin-right: 10px;
            font-size: 16px;
        }

        .sort-bar select {
            padding: 10px;
            border-radius: 25px;
            font-size: 16px;
        }

        .color-selection {
            margin: 10px 0;
            text-align: left;
        }

        .color-selection select {
            padding: 4px;
            border-radius: 25px;
            font-size: 16px;
        }

        @media (max-width: 1200px) {
            .product {
                width: calc(33.33% - 20px);
            }
        }

        @media (max-width: 992px) {
            .product {
                width: calc(50% - 20px);
            }
        }

        @media (max-width: 576px) {
            .product {
                width: calc(100% - 20px);
            }
        }

        @media (max-width: 768px) {
            .company-name {
                font-size: 24px;
                margin-left: -20px;
            }

            .additional-elements {
                display: none;
            }

            .title {
                font-size: 28px;
            }

            .hamburger {
                display: block;
                cursor: pointer;
                font-size: 24px;
                color: white;
                margin-right: 10px;
            }

            .dropdown-menu {
                display: flex;
                flex-direction: column;
                gap: 10px;
                position: absolute;
                top: 60px;
                right: 20px;
                background-color: #333;
                padding: 10px;
                border-radius: 5px;
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
                display: none;
            }

            .dropdown-menu a {
                color: white;
                text-decoration: none;
                padding: 10px;
            }

            .dropdown-menu a:hover {
                background-color: #444;
            }

            .search-bar {
                display: inline;
            }

            .search-bar input[type="text"] {
                width: 170px;
            }

            .sort-bar {
                padding-top: 10px;
            }
        }

        @media (min-width: 769px) {
            .hamburger {
                display: none;
            }

            .dropdown-menu{
                display: none;
            }
        }
    </style>
</head>
<body>
    <!-- Header -->
    <div class="header">
        <!-- Logo and company name -->
        <div class="logo">
            <img src="../images/logo.png">
            <div class="company-name">SolidForms</div>
        </div>
        <!-- Additional elements -->
        <div class="additional-elements">
            <a href="/"><p>Home</p></a>
            <a href="/about"><p>About</p></a>
            <a href="/contact"><p>Contact Us</p></a>
            <!-- Shopping cart -->
            <div class="shopping-cart">
                <a href="/cart">
                    <div class="cart-icon">
                        <i class="fas fa-shopping-cart"></i>
                    </div>
                    <div class="cart-count" id="cart-count">0</div>
                </a>
            </div>
        </div>
        <div class="hamburger" onclick="toggleMenu()">
            <i class="fas fa-bars"></i>
        </div>
        <div class="dropdown-menu" id="dropdown-menu">
            <a href="/">Home</a>
            <a href="/about">About</a>
            <a href="/contact">Contact Us</a>
            <a href="/cart">
                <div class="cart-icon">
                    <i class="fas fa-shopping-cart"></i>
                    <div class="cart-count" id="cart-count-mobile">0</div>
                </div>
            </a>
        </div>
    </div>
    <div class="page-body">
        <div class="title-container">
            <div class="title">Your One Stop Gift Shop</div>
            <div class="search-bar">
                <input type="text" id="search-input" placeholder="Search products...">
                <button onclick="handleSearch()">Search</button>
                <div class="sort-bar">
                    <label for="sort">Sort by:</label>
                    <select id="sort" onchange="sortProducts()">
                        <option value="name-asc">Name (A-Z)</option>
                        <option value="price-low-high">Price (Low to High)</option>
                        <option value="price-high-low">Price (High to Low)</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="products">
            <% products.forEach(product => { %>
                <div class="product" id="product-<%= product._id %>">
                    <div class="product-images">
                        <button class="arrow left" onclick="prevImage('<%= product._id %>')">&#9664;</button>
                        <img src="<%= product.images[0] %>" alt="<%= product.name %>" id="image-<%= product._id %>" data-images='<%= JSON.stringify(product.images) %>'>
                        <button class="arrow right" onclick="nextImage('<%= product._id %>')">&#9654;</button>
                    </div>
                    <h2><%= product.name %></h2>
                    <p><%= product.desc %></p>
                    <div class="quantity">
                        <label for="quantity">Quantity:</label>
                        <select id="quantity-<%= product._id %>" name="quantity" onchange="updatePrice('<%= product._id %>', '<%= product.price %>')">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
                    </div>
                    <div class="color-selection">
                        <label for="color-<%= product._id %>">Color:</label>
                        <select id="color-<%= product._id %>" name="color">
                            <% if (Array.isArray(product.colors) && product.colors.length > 0) { %>
                                <% product.colors.forEach(color => { %>
                                    <option value="<%= color %>"><%= color %></option>
                                <% }); %>
                            <% } else { %>
                                <option value="">No colors available</option>
                            <% } %>
                        </select>
                    </div>
                    <p class="price" id="price-<%= product._id %>"><%= product.price.toFixed(0) %> LE</p>
                    <button onclick="addToCart('<%= product._id %>')">Add to Cart</button>
                </div>
            <% }); %>
        </div>        
        <div class="footer_section layout_padding">
            <div class="container-footer">
               <div class="row">
                  <div class="col-lg-3 col-sm-6">
                     <h3 class="useful_text">About</h3>
                     <p class="footer_text">Welcome to SolidForms, a leading provider of cutting-edge 3D printing services based in Cairo, Egypt. At SolidForms, we are dedicated to transforming ideas into reality through the power of additive manufacturing.</p>
                  </div>
                  <div class="col-lg-3 col-sm-6">
                     <h3 class="useful_text">Navigate</h3>
                     <div class="footer_menu">
                        <ul>
                           <li><a href="/">Home</a></li>
                           <li><a href="about">About Us</a></li>
                           <li><a href="contact">Contact Us</a></li>
                        </ul>
                     </div>
                  </div>
                  <div class="col-lg-3 col-sm-6">
                     <h1 class="useful_text">Social Media</h1>
                     <div class="footer_menu">
                        <ul>
                           <li><a href="https://www.instagram.com/solidforms.eg?igsh=MTc2bDhud3l6anJoaw==" target="_blank">Instagram</a></li>
                           <li><a href="https://www.tiktok.com/@solidforms.eg?_t=8q74gve3own&_r=1" target="_blank">Tiktok</a></li>
                           <li><a href="https://wa.me/+201222513244" target="_blank">WhatsApp</a></li>
                        </ul>
                     </div>
                  </div>
                  <div class="col-lg-3 col-sm-6">
                     <h1 class="useful_text">Contact Us</h1>
                     <div class="location_text">
                        <ul>
                           <li>
                              <a href="https://maps.app.goo.gl/TuUR5Y7rJQ5ozEvY7"
                                  target="_blank">
                                  <i class="fa fa-map-marker" aria-hidden="true"></i><span class="padding_left_10" style="margin-left: 5px;">Location</span>
                              </a>
                          </li>                       
                          <li>
                           <a href="tel:++201222513244">
                               <i class="fa fa-phone" aria-hidden="true"></i><span class="padding_left_10" style="margin-left: 5px;">+20 1222 513 244</span>
                           </a>
                         </li>                    
                         <li>
                           <a href="mailto:solidforms3d@gmail.com">
                               <i class="fa fa-envelope" aria-hidden="true"></i><span class="padding_left_10" style="margin-left: 5px;">solidforms3d@gmail.com</span>
                           </a>
                        </li>                    
                        </ul>
                     </div>
                  </div>
               </div>
            </div>
         </div>
    <div class="copyright_section">
        <div class="container-copyright">
            <p class="copyright_text">© 2024 SolidForms - All Rights Reserved</p>
        </div>
    </div>
    <script src="../scripts/shop.js"></script>
    <div id="popup" style="display:none; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); background-color: #ffffff; color: black; padding: 25px; border-radius: 16px; border: 2px solid #D35F18; z-index: 1000; box-shadow: 0 8px 20px rgba(0,0,0,0.3); width: 90%; max-width: 350px; text-align: center;">
        <p style="font-size: 20px; font-weight: bold; margin-bottom: 20px;">
            Item added to the cart successfully!
        </p>
        <div style="display: flex; justify-content: space-between; gap: 12px;">
            <button onclick="closePopup()" style="background-color: #252525; border: none; color: white; padding: 12px; border-radius: 10px; cursor: pointer; font-size: 16px; flex: 1; transition: background-color 0.3s;">
                Continue Shopping
            </button>
            <a href="/cart" style="background-color: #28a745; text-decoration: none; color: white; padding: 12px; border-radius: 10px; font-size: 16px; flex: 1; text-align: center; transition: background-color 0.3s;">
                Proceed to Cart
            </a>
        </div>
    </div>       
</body>
</html>
